<div class="videocontainer">
<video width="550" height="240" autoplay muted>
  <source src="/images/uziVid.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
</div>


  <h2>A perfect excuss for me to flaunt some cute animals</h2>
<div class="container">
  {{#each pets}}
  <div class="pet-gallery">
    <img class="img-circle" src="{{image}}" alt="{{name}}"></a>
  </div>
  {{/each}}
</div>


<div class="container">
  <a href="/pets/pets">All the pet dets</a>
</div>


{{!-- <a href="/puppies/{{id}}"></a> --}}